<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="/static/style.css">
     <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
     {% block js %}
     {% endblock%}

     <title>The Running APP</title>
</head>
<body>
<div class="topMenu">
     <div id="submain">
          <a href="login" class="link ">login / register</a>
          
     </div>
</div>
<div class="mainMenu">
     <div><img src="/static/logo.png" alt="" class="logo"></div>
     <div>
 <ul class="menuLinks">
     <li><a href="" class="link ">Events</a></li>
     <li><a href="" class="link ">how does it work</a></li>
     <li><a href="" class="link ">how does it work</a></li>
     <li><a href="" class="link ">Leder bord</a></li>
     <li><a href="/" class="link ">Home</a></li>
 </ul>
</div>
<div>
     <input type="text" class="searchTerm" placeholder="What are you looking for?">
  </div>

</div>
{% block body %}
{% endblock %}
</body>
</html>