{% extends "runningapp/base.html"%}
{% block body %}
<script>
     var x = document.getElementById("demo");
     
     function getLocation() {
       if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(showPosition);
       } else { 
         x.innerHTML = "Geolocation is not supported by this browser.";
       }
     }
     
     function showPosition(position) {
       x.innerHTML = "Latitude: " + position.coords.latitude + 
       "<br>Longitude: " + position.coords.longitude;
     }
     </script>
<div id="loginForm">
     <form action="">
          <input type="text" placeholder="username">
          <input type="password" placeholder="Password">
     </form>
</div>
<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>




{% endblock %}