{% extends "run/base.html" %}
{% load static %}

{% block body %}

<div id="heroImage" style="background-image: url({% static 'run/hero4.jpg' %})">

     <div class="hero-text font_5"  >
          <h1 font>Running app</h1>
          <p>Discover Your Power Through Online Coaching</p>
     </div>
</div>
<div id="buttenHero1">
     <div class="internal">click here</div>
     
</div>
<div id="buttenHero2">
 or click here
</div>
<div class="gap1"></div>
</div>
<div class="grid2">
     <div id="herosmall" style="background-image: url({% static 'run/herosmall.jpg' %})">
     </div>
     <div id="About">
    <center> <h1>Hi, This is the Runing App</h1><br></center>
     <p>This will give you a motivation to improve you life</p>
</div>
<div id="gap2">
</div>
<div id="heroSmall2" style="background-image: url({% static 'run/herosmall21.jpg' %})">
</div>
<div id="about2">
this is about 2
</div>
<div id="gap3"></div>

<div id="contact">
     <a name="contact"></a> 
     <h1>Get in touch</h1>
     <p>I'm a paragraph. Click here to add your own text and edit me.

          Address. 500 Terry Francois Street
          
          San Francisco, CA 94158
          
          Email. info@mysite.com
          
          Phone. 123-456-7890</p>
</div>
<div id="contactForm">
     this will be the contact form 
     sdf
     sdfg
     sdfggsd
     fgsd
     fgsdsdf
</div>
</div>
     </div>

{% endblock %}